h1{
    font-weight: bold;
    font-size: 45px;
    margin: 15px;
}
body{
    background-color: #888383;
    font-family: Arial, sans-serif;
}
input{
    width: 100%;
    background-color: #ccc3c3;
}
.item-container{
    text-align: left;       
}
.kg-row{
margin: 10px 5px;
}
.kg-button{
    min-width: 90px;
}